</div>
</div>


<script>
    $('.dropdown')
        .dropdown();
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
<script>
    new ClipboardJS('.clipboard-link');
    if (!ClipboardJS.isSupported()) {
        $(".clipboard-container").hide();
    }
</script>
</body>

</html>