<%- include('header'); -%>
<div class="ui segment">
    <h1 class="ui header">Abizeitung FAG Jahrgang 2020/22</h1>
    <p>
        <a class="ui button" href="/add">Zitat hinzufügen</a>
        <a class="ui button" href="/all">Zitate ansehen</a>
    </p>
    <p>
        <a href="https://github.com/ferb300/abizitatesammler"><i class="external alternate icon"></i> Code auf GitHub ansehen</a>
    </p>
</div>
<%- include('footer'); -%>